<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=
                    Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@3.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <title>Navigation Drawer</title>
</head>
<body>
    <div id="app">
        <v-app>
            <v-app-bar app color="primary" dark>
                <v-app-bar-nav-icon @click.stop="bDrawer = !bDrawer"></v-app-bar-nav-icon>
                <v-toolbar-title>Header</v-toolbar-title>
            </v-app-bar>
            <v-navigation-drawer absolute v-model="bDrawer">
                <v-toolbar flat height="70px">
                    <v-list>
                        <v-list-item>
                            <v-list-item-avatar>
                                <img src="https://randomuser.me/api/portraits/men/44.jpg">
                            </v-list-item-avatar>
                            <v-list-item-content>
                                <v-list-item-title class="title">정진표</v-list-item-title>
                                <v-list-item-subtitle>로그인</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list>
                </v-toolbar>
                <v-divider></v-divider>
                <v-list class="pt-3">
                    <v-list-item v-for="item in aMenu_items" :key="item.title":href="item.link">
                        <v-list-item-action>
                            <v-icon>{{item.icon}}</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title>{{item.title}}</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </v-list>
            </v-navigation-drawer>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue#2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
        new Vue({
            el:'#app',
            vuetify:new Vuetify(),
            data:{
                bDrawer:false,
                aMenu_items:[
                    {
                        title:"스타벅스",
                        icon:'fa-coffee',
                        link:'http://www.starbucks.com'
                    }
                ]
            }
        })
    </script>

</body>
</html>
